$bg-color: #dfc0ae;
$text-color: #393939;
$textWhite-color: #f1efef;
$textBlack-color: #542b0e;
$third-color: #7e924a;
$thirdBis-color: #345f17;
$fourth-color: #85461a;
$blue-color: #3351e3;

$c-text: #050505;
$c-alt: #050505;

$size-text: 18px;

// // mobile
$p-mobile: 18px;
$h3-mobile: 27px;
$h2-mobile: 40px;
$h1-mobile: 80px;

// //tablet
$p-tablet: 20px;
$h3-tablet: 30px;
$h2-tablet: 45px;
$h1-tablet: 68px;

// //desktop
// $p-desktop: 24px; initialement mais trop petit donc 26
$p-desktop: 26px;
$h3-desktop: 36px;
$h2-desktop: 54px;
$h1-desktop: 81px;

// // mobile 18.1,6=28 ///////////////////
$margin-1: 28px;
$margin-2: 56px;
$margin-3: 84px;
// $margin-4: 112px;
$margin-5: 140px;
// $margin-6: 168px;
// $margin-7: 196px;

// // tablet 20.1,6 =32 ///////////////////
$margint-1: 32px;
$margint-2: 64px;
$margint-3: 128px;
$margint-4: 256px;
$margint-5: 512px;
$margint-6: 1024px;
$margint-7: 2048px;

// // tablet 24.1,6 =38 ///////////////////
$margind-1: 38px;
$margind-2: 76px;
$margind-3: 152px;
$margind-4: 304px;
$margind-5: 608px;
$margind-6: 1216px;
